@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esse sistema foi construido como forma de aprendizado e aprimoramento de algumas tecnicas usando Dotnet 3.1</p>
<p>Nessa aplicação temos varias tecnologias sendo usadas para como Entity Framework (ORM) e Dapper(Query Builder)</p>
<p>Uma metodologia de padrão de projeto foi utilizado parecido com DDD</p>
<p>Foi feito alguns teste unitarios vocês podem verifica no link do github do projeto.</p>
<a href="https://github.com/WillianSilvaDonz/LocadoraWillian" target="_blank" class="btn btn-success">GitHub</a>
<br>
<p>Para Acessa o Sistema precisa fazer um cadastro pequeno passando alguns dados minimo para o login</p>

